
@{
    ViewBag.Title = "AllLog";
}

<h2>AllLog</h2>

<form action="~/Login/SLog" style="padding:15px">
    <input type="submit" value="Students Login" class="btn btn-default"/>
</form>
<form action="~/Login/TLog" style="padding:15px">
    <input type="submit" value="Teachers Login" class="btn btn-default"/>
</form>
<form action="~/Login/StaffLog" style="padding:15px">
    <input type="submit" value="Staff Login" class="btn btn-default"/>
</form>