@model IEnumerable<OOAD_Proj.Models.Course>

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="~/Content/assets/js/html5shiv.min.js"></script>
    <script src="~/Content/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/assets.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/Content/assets/css/color/color-1.css">

</head>
<body id="bg">
    <div class="page-wraper" style="margin:-50px;margin-left:-70px;margin-right:-70px ">
        <div id="loading-icon-bx"></div>
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="page-banner ovbl-dark" style="background-image:url(~/Content/assets/images/banner/banner3.jpg);">
                <div class="container">
                    <div class="page-banner-entry">
                        <h1 class="text-white">Our Courses</h1>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <div class="container">
                    <ul class="list-inline">
                        <li><a href="#">Home</a></li>
                        <li>Our Courses</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumb row END -->
            <!-- inner page banner END -->
            <div class="content-block">
                <!-- About Us -->
                <div class="section-area section-sp1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                                <div class="widget widget_archive">
                                    <h5 class="widget-title style-1">All Courses</h5>
                                    <ul>
                                        <li class="active"><a href="#">General</a></li>
                                        <li><a href="#">IT & Software</a></li>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Programming Language</a></li>
                                        <li><a href="#">Technology</a></li>
                                    </ul>
                                </div>
                                <div class="widget">
                                    <a href="#"><img src="~/Content/assets/images/adv/adv.jpg" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-md-6 col-lg-4 col-sm-6 m-b30">
                                            <div class="cours-bx">
                                                <div class="action-box">
                                                    <img src="~/Content/assets/images/courses/pic9.jpg" alt="">
                                                </div>
                                                <div class="info-bx text-center">
                                                    <h5><a href="#">@Convert.ToString(@Html.DisplayFor(modelItem => item.course_name))</a></h5>
                                                    <span></span>
                                                </div>
                                                <div class="cours-more-info" style="padding: 10px">
                                                    Total Credit Hours:
                                                    @Convert.ToString(@Html.DisplayFor(modelItem => item.course_hrs))
                                                </div>
                                            </div>
                                        </div>
                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- contact area END -->
            </div>
        </div>
        <!-- Content END-->
        <button class="back-to-top fa fa-chevron-up"></button>
    </div>
    <!-- External JavaScripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="~/Content/assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="~/Content/assets/vendors/counter/waypoints-min.js"></script>
    <script src="~/Content/assets/vendors/counter/counterup.min.js"></script>
    <script src="~/Content/assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="~/Content/assets/vendors/masonry/masonry.js"></script>
    <script src="~/Content/assets/vendors/masonry/filter.js"></script>
    <script src="~/Content/assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="~/Content/assets/js/functions.js"></script>
    <script src="~/Content/assets/js/contact.js"></script>
    <script src='~/Content/assets/vendors/switcher/switcher.js'></script>
</body>

</html>