<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.png" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template </title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="~/Content/assets/js/html5shiv.min.js"></script>
    <script src="~/Content/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/assets.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/Content/assets/css/color/color-1.css">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendors/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendors/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/vendors/revolution/css/navigation.css">
    <!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
    <div class="page-wraper" style="margin:-50px;margin-left:-70px;margin-right:-70px ">
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- Main Slider -->
            <div class="section-area section-sp1 ovpr-dark bg-fix online-cours" style="background-image:url(~/Content/assets/images/background/bg1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center text-white">
                            <h2>Online Courses To Learn</h2>
                            <h5>Own Your Feature Learning New Skills Online</h5>
                            <form class="cours-search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="What do you want to learn today?	">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mw800 m-auto">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="cours-search-bx m-b30">
                                    <div class="icon-box">
                                        <h3><i class="ti-user"></i><span class="counter">5</span>M</h3>
                                    </div>
                                    <span class="cours-search-text">Over 5 million student</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="cours-search-bx m-b30">
                                    <div class="icon-box">
                                        <h3><i class="ti-book"></i><span class="counter">30</span>K</h3>
                                    </div>
                                    <span class="cours-search-text">30,000 Courses.</span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="cours-search-bx m-b30">
                                    <div class="icon-box">
                                        <h3><i class="ti-layout-list-post"></i><span class="counter">20</span>K</h3>
                                    </div>
                                    <span class="cours-search-text">Learn Anythink Online.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Slider -->
            <div class="content-block">
                <!-- Popular Courses -->
                <div class="section-area section-sp2 popular-courses-bx">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 heading-bx left">
                                <h2 class="title-head">Popular <span>Courses</span></h2>
                                <p>Some of the popular courses that our institute offers.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/Content/assets/images/courses/pic1.jpg" alt="">
                                            <a href="#" class="btn">Read More</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Introduction to IT</a></h5>
                                            <span>Programming</span>
                                        </div>
                                        <div class="cours-more-info">
                                            <div class="review">
                                                <span>3 Review</span>
                                                <ul class="cours-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="price">
                                                <del>$190</del>
                                                <h5>$120</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/Content/assets/images/courses/pic2.jpg" alt="">
                                            <a href="#" class="btn">Read More</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Introduction to Business</a></h5>
                                            <span>Business</span>
                                        </div>
                                        <div class="cours-more-info">
                                            <div class="review">
                                                <span>3 Review</span>
                                                <ul class="cours-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="price">
                                                <del>$190</del>
                                                <h5>$120</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/Content/assets/images/courses/pic3.jpg" alt="">
                                            <a href="#" class="btn">Read More</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Introduction to programming</a></h5>
                                            <span>Programming</span>
                                        </div>
                                        <div class="cours-more-info">
                                            <div class="review">
                                                <span>3 Review</span>
                                                <ul class="cours-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="price">
                                                <del>$190</del>
                                                <h5>$120</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cours-bx">
                                        <div class="action-box">
                                            <img src="~/Content/assets/images/courses/pic4.jpg" alt="">
                                            <a href="#" class="btn">Read More</a>
                                        </div>
                                        <div class="info-bx text-center">
                                            <h5><a href="#">Introduction to Communication</a></h5>
                                            <span>Communication</span>
                                        </div>
                                        <div class="cours-more-info">
                                            <div class="review">
                                                <span>3 Review</span>
                                                <ul class="cours-star">
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li class="active"><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="price">
                                                <del>$190</del>
                                                <h5>$120</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Popular Courses END -->
                <div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" style="background-image:url(~/Content/assets/images/background/bg1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="join-content-bx text-white">
                                    <h2>Learn a new skill online on <br> your time</h2>
                                    <h4><span class="counter">57,000</span> Online Courses</h4>
                                    <p>A course is one chosen by a student from a number of optional subjects or courses in a curriculum, as opposed to a required course which the student must take. While required courses (sometimes called "core courses" or "general education courses") are deemed essential for an academic degree, elective courses tend to be more specialized. Elective courses usually have fewer students than the required courses.</p>
                                    <a href="#" class="btn button-md">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form END -->
                <div class="section-area section-sp1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 m-b30">
                                <h2 class="title-head ">Learn a new skill online<br> <span class="text-primary"> on your time</span></h2>
                                <h4><span class="counter">57,000</span> Online Courses</h4>
                                <p>A course is one chosen by a student from a number of optional subjects or courses in a curriculum, as opposed to a required course which the student must take. While required courses (sometimes called "core courses" or "general education courses") are deemed essential for an academic degree, elective courses tend to be more specialized. Elective courses usually have fewer students than the required courses.</p>
                                <a href="#" class="btn button-md">Join Now</a>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="~/Content/assets/images/icon/icon1.png" alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Our Philosophy</h5>
                                                <p>Offering variety of Philosphy Courses.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="~/Content/assets/images/icon/icon2.png" alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Our Mission</h5>
                                                <p>It is to provide you with best possible opertunities.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="~/Content/assets/images/icon/icon3.png" alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Key Of Success</h5>
                                                <p>Key of Success and better future is Hard Work.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                                        <div class="feature-container">
                                            <div class="feature-md text-white m-b20">
                                                <a href="#" class="icon-cell"><img src="~/Content/assets/images/icon/icon4.png" alt=""></a>
                                            </div>
                                            <div class="icon-content">
                                                <h5 class="ttr-tilte">Our Philosophy</h5>
                                                <p>Hard Work is made easier when a person is motivated.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Testimonials -->
                <div class="section-area section-sp1 bg-fix ovbl-dark text-white" style="background-image:url(~/Content/assets/images/background/bg1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">3000</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Completed Projects</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">2500</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Happy Clients</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">1500</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Questions Answered</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-white">
                                        <span class="counter">1000</span><span>+</span>
                                    </div>
                                    <span class="counter-text">Ordered Coffee's</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials END -->
                <!-- Testimonials ==== -->
                <div class="section-area section-sp2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 heading-bx left">
                                <h2 class="title-head text-uppercase">what people <span>say</span></h2>
                                <p>Some of the reviews of the students and teachers experiences.</p>
                            </div>
                        </div>
                        <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                            <div class="item">
                                <div class="testimonial-bx">
                                    <div class="testimonial-thumb">
                                        <img src="~/Content/assets/images/testimonials/pic1.jpg" alt="">
                                    </div>
                                    <div class="testimonial-info">
                                        <h5 class="name">Peter Packer</h5>
                                        <p>-Art Director</p>
                                    </div>
                                    <div class="testimonial-content">
                                        <p>A very nice experience definitly would recommend to everyone who interested in Information and Technology.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-bx">
                                    <div class="testimonial-thumb">
                                        <img src="~/Content/assets/images/testimonials/pic2.jpg" alt="">
                                    </div>
                                    <div class="testimonial-info">
                                        <h5 class="name">Doctor Strange</h5>
                                        <p>-Surgeon</p>
                                    </div>
                                    <div class="testimonial-content">
                                        <p>Took some business classes here. A very nice experience definitly would recommend to everyone who interested in first hand business experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials END ==== -->
            </div>
            <!-- contact area END -->
        </div>
        <!-- Content END-->
    </div>
</body>
</html>
