
@{
    ViewBag.Title = "AdminDash";
}

<h2>Admin Portal</h2>
<br />
<div style="height:300px">
    <div style="width:25%;margin:0;float:left">
        <form action="~/students/Index" style="padding:10px">
            <input type="submit" value="Students Info" class="btn btn-default" />
        </form>
        <form action="~/Teachers/Index" style="padding:10px">
            <input type="submit" value="Teachers Info" class="btn btn-default" />
        </form>
        <form action="~/Courses/Index" style="padding:10px">
            <input type="submit" value="Courses" class="btn btn-default" />
        </form>
        <form action="~/ExamSchedules/Index" style="padding:10px">
            <input type="submit" value="Exam Schedule" class="btn btn-default" />
        </form>
        <form action="~/ClassSchedules/Index" style="padding:10px">
            <input type="submit" value="Class Schedule" class="btn btn-default" />
        </form>
    </div>
    <div style="width:25%;margin:0;float:left">
        <form action="~/Departments/Index" style="padding:10px">
            <input type="submit" value="Department" class="btn btn-default" />
        </form>
        <form action="~/AssingedCourses/Index" style="padding:10px">
            <input type="submit" value="Course Registration" class="btn btn-default" />
        </form>
        <form action="~/Events/Index" style="padding:10px">
            <input type="submit" value="Event Info" class="btn btn-default" />
        </form>
        <form action="~/Semesters/Index" style="padding:10px">
            <input type="submit" value="Semester info" class="btn btn-default" />
        </form>
        <form action="~/TransDetails/Index" style="padding:10px">
            <input type="submit" value="Transaction Info" class="btn btn-default" />
        </form>
    </div>
    <div style="width:25%;margin:0;float:left">
        <form action="~/Staffs/Index" style="padding:10px">
            <input type="submit" value="Staff Info" class="btn btn-default" />
        </form>
        <form action="~/Home/Index" style="padding:10px">
            <input type="submit" value="Logout" class="btn btn-default" />
        </form>
    </div>
</div>
